.nav {
  display: flex;
  width: 100%;
  min-height: 84px;
  border-bottom: 1px solid #545454;
}

.nav__logo {
  margin: 0 27px;
  padding-top: 34px;
  max-width: 160px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 0;
  }
}
